<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="ISO-8859-1">
    <title>hello</title>
    <style type="text/css">
        label {
            display: inline-block;
            width:200px;
            margin: auto;
            text-align: left;
        }
        button{
            margin: 20px;
            padding: 20px;
        }
    </style>

</head>
<body>
<ol>
    <div>
<li th:each="cars : ${ cars }">
    <h3>selead</h3>
    <span th:text="${cars.is_sealed}"></span>
    <h3>name</h3>
    <h3>id</h3>
    <span th:text="${cars.id}"></span>
    <h3>name</h3>
    <span th:text="${cars.name}"></span>
    <h3>NumberOfSeats</h3>
    <span th:text="${cars.numberOfSeats}"></span>
    <h3>date</h3>
    <span th:text="${cars.date}">Default</span>
    <h3>price</h3>
    <span th:text="${cars.price}">Default</span>
    <h3>persson name</h3>
    <span th:text="${cars.personname}"></span>
    </li>
    </div>

</ol>
<div align="center">
    <h1>Sell</h1>
    <form action="#" th:action="@{/sell}" th:object="${sell_class}" method="post">
        <label>id:</label>
        <input type="text" th:field="${sell_class.id}" /><br/>

        <label>name:</label>
        <input type="text" th:field="${sell_class.name}" /><br/>
        <label>pirson_name</label>
        <input type="text" th:field="${sell_class.pirson_name}"/><br/>
        <label>date</label>
        <input type="text" th:field="${sell_class.date}"/><br/>

        <button type="submit ">Regeister</button>
    </form>
</div>

</body>
</html>